<footer class="center-items bg-grey300 flex-column py-5">
  <div class="container text-white text-center py-5">
    <div class="row gy-5">
      <div class="col-lg-4">
        <div class="footer-item px-lg-4">
          <h4 class="text-uppercase fw-bold mb-3">Location</h4>
          <p class="lead">
            2215 John Daniel Drive <br />
            Clark, MO 65243
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="footer-item">
          <h4 class="text-uppercase fw-bold mb-3">AROUND THE WEB</h4>
          <div class="d-flex justify-content-center">
            <div class="footer-icon center-items">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="footer-icon center-items">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="footer-icon center-items">
              <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="footer-icon center-items">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="footer-item px-xl-4">
          <h4 class="text-uppercase fw-bold mb-3">ABOUT FREELANCER</h4>
          <p class="lead">
            Freelance is a free to use, MIT licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copy-write bg-dark p-4 text-white text-center">
  <p class="mb-0">Copyright © MoustafaRGB 2022</p>
</div>
