<section class="contacts center-items flex-column py-5 mt-5">
  <app-heading [title]="'contact Me'" [lineBgColor]="'bg-dark'"></app-heading>

  <div class="container">
    <div class="row gap-2 justify-content-center">
      <div class="col-lg-8">
        <div [ngClass]="{ 'form-floating': isInputEmpty.nameInput }">
          <input
            type="text"
            class="form-control border-bottom"
            id="nameInput"
            placeholder="Name"
            (keyup)="handleInput($event)"
          />
          <label
            for="nameInput"
            [ngStyle]="{ display: isInputEmpty.nameInput ? 'block' : 'none' }"
            >Name</label
          >
        </div>
      </div>
      <div class="col-lg-8">
        <div [ngClass]="{ 'form-floating': isInputEmpty.emailImput }">
          <input
            type="email"
            class="form-control border-bottom"
            id="emailImput"
            placeholder="Email"
            (keyup)="handleInput($event)"
          />
          <label
            for="emailImput"
            [ngStyle]="{ display: isInputEmpty.emailImput ? 'block' : 'none' }"
            >Email</label
          >
        </div>
      </div>
      <div class="col-lg-8">
        <div [ngClass]="{ 'form-floating': isInputEmpty.phoneInput }">
          <input
            type="text"
            class="form-control border-bottom"
            id="phoneInput"
            placeholder="Phone Number"
            (keyup)="handleInput($event)"
          />
          <label
            for="phoneInput"
            [ngStyle]="{ display: isInputEmpty.phoneInput ? 'block' : 'none' }"
            >Phone Number</label
          >
        </div>
      </div>
      <div class="col-lg-8">
        <div [ngClass]="{ 'form-floating': isInputEmpty.messageInput }">
          <textarea
            class="form-control border-bottom"
            id="messageInput"
            placeholder="Message"
            style="height: 200px"
            (keyup)="handleInput($event)"
          ></textarea>
          <label
            for="messageInput"
            [ngStyle]="{
              display: isInputEmpty.messageInput ? 'block' : 'none'
            }"
            >Message</label
          >
        </div>
      </div>
      <div class="col-lg-8">
        <button class="btn btn-main py-2 px-4 btn-lg mt-3">Send</button>
      </div>
    </div>
  </div>
</section>
