<section class="about bg-green text-white center-items flex-column py-5 mt-5">
  <app-heading [title]="'About'"></app-heading>
  <div class="container about-container">
    <div class="row">
      <div class="col-md-6">
        <div class="p-3">
          <p class="lead">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3">
          <p class="lead">
            You can create your own custom avatar for the masthead, change the
            icon in the dividers, and add your email address to the contact form
            to make it fully functional!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
