<section class="notfound center-items">
  <div class="container py-4">
    <div class="nf-img mx-auto">
      <img
        src="../../assets/images/notFound.png"
        alt="Not Found Page"
        class="w-100"
      />
    </div>
    <div class="text-center">
      <h2 class="fw-bold my-3 fs-3">
        <span class="text-danger d-block mb-2">404</span> Ooops.. This Page Not
        Found
      </h2>
      <p class="lead fw-bold text-black text-opacity-50 pt-2">
        Sorry, we can't find that page! Don't worry through, everything is STILL
        AWESOME!
      </p>
    </div>
  </div>
</section>
