<nav class="navbar navbar-expand-lg bg-grey300 fixed-top navbar-dark">
  <div class="container">
    <a class="navbar-brand text-uppercase fw-bolder fs-4" routerLink="home"
      >Start Angular</a
    >
    <button
      class="navbar-toggler btn-main px-3 py-2 fw-bold text-uppercase center-items"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu <i class="fa-solid fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto py-3 py-lg-0">
        <li class="nav-item fs-6 mx-1 fw-bold text-uppercase">
          <a
            class="nav-link p-3"
            routerLink="home"
            routerLinkActive="link-active"
            >Home</a
          >
        </li>
        <li class="nav-item fs-6 mx-1 fw-bold text-uppercase">
          <a
            class="nav-link p-3"
            routerLink="portfolio"
            routerLinkActive="link-active"
            >Portfolio</a
          >
        </li>
        <li class="nav-item fs-6 mx-1 fw-bold text-uppercase">
          <a
            class="nav-link p-3"
            routerLink="about"
            routerLinkActive="link-active"
            >About</a
          >
        </li>
        <li class="nav-item fs-6 mx-1 fw-bold text-uppercase">
          <a
            class="nav-link p-3"
            routerLink="contact"
            routerLinkActive="link-active"
            >Contacts</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
